.main {
  background-color: rgb(15, 51, 68);
}

.title {
  /* color: rgb(91, 198, 96); */
  color: rgb(131, 204, 55);
}

.name {
  font-size: 4rem;
}

.description1 {
  color: rgb(113, 129, 144);
  font-size: 2.5rem;
}

.description2 {
  font-size: 1.3rem;
  color: rgb(98, 115, 139);
}

.projects {
  font-size: 2rem;
}

.icon {
  width: 3.4rem;
  height: 3.4rem;
  color: rgb(113, 129, 144);
}

.icon:hover {
  transform: scale(1.4);
  transition: ease 500;
  color: rgb(131, 204, 55);
}
