/* @root {
  --color-principal--: rgb(15,51,68);
  --color-secundario--: #33b4eb;
  --color-opcional--: rgb(91, 198, 96);
  --color-opcional2--: rgb(131, 204, 55);
} */

.nav {
  background-color: rgb(15, 51, 68);
}

.img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.title:hover {
  color: rgb(131, 204, 55);
}

.link:hover {
  color: rgb(131, 204, 55);
}

.icon {
  width: 3rem;
  height: 3rem;
  color: white;
}

.svg {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .button {
    display: none;
  }
}

/* "text-white text-xl font-semibold hover:text-lime-400 duration-300" */
